/*===========  BASE  ============*/
body, html {
  margin: 0;
  padding: 0 0 1em;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 80%;
  min-width: 25em;
  overflow-x: hidden;
  clip-path: polygon(0% 10%, 10% 10%, 10% 0%, 90% 0%, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0% 90%);
  border: 1px solid black;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  text-align: center;
}

/*=========== LAYOUT ===========*/
main {
  width: 90%;
  max-width: 90em;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 5em 0;
}

/*=========== MODULES ==========*/
.menuCategory {
  width: 40%;
  min-width: 25em;
  min-height: 20em;
  margin-bottom: 3em;
}
.menuCategory--burgers {
  min-width: 23em;
}
.menuCategory--burgers h2 {
  text-align: center;
  padding: 1em 0;
  background-color: #cb5703;
  margin: 0;
  border-radius: 50px 50px 3px 3px;
}
.menuCategory--burgers div {
  background-color: #cb5703;
  height: 3em;
  width: 100%;
  border-radius: 5px 5px 3px 3px;
}
.menuCategory .burger {
  height: 3.4em;
  overflow: hidden;
  text-align: center;
  border-radius: 8px;
  display: block;
  transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menuCategory .burger h3 {
  margin: 0;
  display: block;
  font-size: calc(16px + (100vw - 200px)/ 700);
  padding: 1em 0;
}
.menuCategory .burger--burgerLayer h3 {
  background: brown;
}
.menuCategory .burger--letuceLayer h3 {
  background: tomato;
}
.menuCategory .burger--tomatoLayer h3 {
  background: green;
}
.menuCategory .burger--toggle {
  display: none;
}
.menuCategory--fries {
  height: 30em;
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 50, 50, 0) 0%, rgba(255, 50, 50, 0) 20%, #ff3232 21%, #ff3232 99%, #ff3232 100%) no-repeat;
  text-align: center;
  overflow: visible;
  clip-path: polygon(0 0%, 100% 0%, 80% 100%, 20% 100%);
}
.menuCategory--fries h2 {
  margin: 6em 0 3em;
}
.menuCategory--drinks {
  height: 30em;
  min-width: 23em;
  clip-path: polygon(0 0%, 100% 0%, 70% 100%, 30% 100%);
  background: linear-gradient(to top, #dbdbdb 0%, #dbdbdb 99%, rgba(219, 219, 219, 0) 100%) no-repeat;
  background-position: 0 0;
  text-align: center;
  border-top: 1px solid gray;
  margin-top: 1em;
}
.menuCategory--drinks h2 {
  margin-top: 3em;
}
.menuCategory--drinks ul {
  display: flex;
  flex-direction: column;
}
.menuCategory--drinks ul li {
  margin-top: 1em;
}

.friesMenu--fries {
  width: 100%;
  display: flex;
  top: 0;
  position: absolute;
  padding-left: 2em;
}
.friesMenu--fries input[type=checkbox] {
  display: none;
  position: absolute;
}
.friesMenu--fries input[type=checkbox] + label {
  opacity: 1;
  background-color: gold;
  height: 4em;
  margin-top: 2em;
  width: 5.5%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  transition: all .3s ease;
}

.friesMenu--list li {
  padding: 1em 0;
}

.drink--selector {
  display: none;
}

/*=========== STATES ===========*/
.burger--toggle:checked ~ label {
  height: 7.5em;
}
.burger--toggle:checked ~ label:hover {
  animation: none;
}
.burger--toggle:checked ~ .burger--top:hover ~ .burger:nth-of-type(1n) {
  animation: none;
}
.burger--toggle:checked ~ .burger--top:hover ~ .burger:nth-of-type(2n) {
  animation: none;
}
.burger--toggle:checked ~ .burger--top:hover ~ .burger:nth-of-type(3n) {
  animation: none;
}

.burger--top:hover ~ .burger:nth-of-type(1n) {
  animation: 1s burgerShuffle .2s 3;
}
.burger--top:hover ~ .burger:nth-of-type(2n) {
  animation: 1s burgerShuffle .1s 3;
}
.burger--top:hover ~ .burger:nth-of-type(3n) {
  animation: 1s burgerShuffle .3s 3;
}

.burger:hover {
  animation: 1s burgerShuffle;
}

.friesMenu--fries input[type=checkbox]:checked + label {
  opacity: 1;
  margin-top: -4em;
  transform: rotate(20deg);
}
.friesMenu--fries label:hover {
  animation: .4s fryShake infinite;
}

.friesMenu--list li:hover ~ div label:nth-of-type(1n) {
  animation: .2s fryShake .4s 4;
}
.friesMenu--list li:hover ~ div label:nth-of-type(2n) {
  animation: .3s fryShake .3s 4;
}
.friesMenu--list li:hover ~ div label:nth-of-type(3n) {
  animation: .4s fryShake .2s 4;
}
.friesMenu--list li:hover ~ div label:nth-of-type(3n) {
  animation: .5s fryShake .1s 4;
}
.friesMenu--list li:nth-child(1):focus ~ div label:nth-of-type(2n) {
  opacity: 1;
  margin-top: -4em;
  transform: rotate(40deg);
}
.friesMenu--list li:nth-child(1):focus ~ div label:nth-of-type(4n) {
  opacity: 1;
  margin-top: -4em;
  transform: rotate(40deg);
  transition-delay: .2s;
}
.friesMenu--list li:nth-child(2):focus ~ div label:nth-of-type(4n) {
  opacity: 1;
  margin-top: -4em;
  transform: rotate(50deg);
}

.drink--selector:checked ~ .menuCategory--drinks {
  animation: 200s drinkDown forwards;
}
.drink--selector#drink1:checked ~ .menuCategory--drinks {
  background: linear-gradient(to top, #621b00 0%, #621b00 99%, rgba(98, 27, 0, 0) 100%) no-repeat;
}
.drink--selector#drink1:checked ~ .menuCategory--drinks ul {
  color: gray;
}
.drink--selector#drink2:checked ~ .menuCategory--drinks {
  background: linear-gradient(to top, #ff8200 0%, #ff8200 99%, rgba(255, 130, 0, 0) 100%) no-repeat;
}
.drink--selector#drink3:checked ~ .menuCategory--drinks {
  background: linear-gradient(to top, #fafafa 0%, #fafafa 99%, rgba(98, 27, 0, 0) 100%) no-repeat;
}
.drink--selector#drink4:checked ~ .menuCategory--drinks {
  background: linear-gradient(to bottom, #efe2d5 10%, #f28e1c 12%, #f28e1c 85%) no-repeat;
}
.drink--selector#drink5:checked ~ .menuCategory--drinks {
  background: linear-gradient(to top, #0077be 0%, #0077be 99%, rgba(98, 27, 0, 0) 100%) no-repeat;
}

/*=========== animations ===========*/
@keyframes burgerShuffle {
  25% {
    height: 3.6em;
    transform: rotate(-2deg);
  }
  50% {
    height: 3.3em;
    transform: rotate(2deg);
  }
  75% {
    height: 3.5em;
    transform: rotate(-1deg);
  }
  100% {
    height: 3.4em;
    transform: rotate(1deg);
  }
}
@keyframes fryShake {
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}
@keyframes drinkDown {
  from {
    background-position: 0;
  }
  to {
    background-position: 0 25em;
  }
}

/*# sourceMappingURL=style.css.map */
